.books-card {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}

.books-item {
  /* background-color: #f4f4f4;
  width: 400px;
  height: 80px;
  margin: 10px;
  text-align: center; */
  /* font-size: 40px; */
  display: grid;
  grid-template-rows: max-content 200px 1fr;
}
